@model List<HMS.Models.DoctorDepartment>
<section class="table-components">
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                @if (TempData["DoctorDepartment"] != null)
                {
                    <div class="d-flex justify-content-end">
                        <div class="alert alert-success" id="DoctorDepartment">@TempData["DoctorDepartment"]</div>
                    </div>
                }
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Doctor Department List</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <a href="/DoctorDepartment/DoctorDepartmentAdd" class="btn btn-primary ms-5">+ Add Doctor Department</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this doctor?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <a id="confirmDeleteBtn" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <div class="table-wrapper table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th>Doctor Name</th>
                                        <th>Department Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var doctdep in Model)
                                    {
                                        <tr>
                                            <td>@doctdep.DoctorName</td>
                                            <td>@doctdep.DepartmentName</td>
                                            <td>
                                                <div class="action">
                                                    <a asp-action="DoctorDepartmentEdit" asp-controller="DoctorDepartment" asp-route-id="@doctdep.DoctorDepartmentID" class="text-dark">
                                                        <i class="lni lni-pencil"></i>
                                                    </a>
                                                    <a href="#" class="ms-2 text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                                       data-delete-url="@Url.Action("DoctorDepartmentDelete", "DoctorDepartment", new { id = doctdep.DoctorDepartmentID })">
                                                        <i class="lni lni-trash-can"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr> 
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const openModel = document.getElementById('deleteModal');
    const confirmBtn = document.getElementById('confirmDeleteBtn');
        openModel.addEventListener('show.bs.modal', (event)=>{
        const trigger = event.relatedTarget;
        const deleteUrl = trigger.getAttribute('data-delete-url');
        confirmBtn.setAttribute('href', deleteUrl);
    });

    setTimeout(() => {
        var msg = document.getElementById("DoctorDepartment");
        if (msg) {
            msg.style.display = "none";
        }
    }, 3000);
</script>
