@model List<HMS.Models.Doctor>
<section class="table-components">
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Doctor List</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <a href="/Doctor/DoctorAdd" class="btn btn-primary ms-5">+ Add Doctor</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <div class="table-wrapper table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th style="min-width: 150px;">Name</th>
                                        <th style="min-width: 150px;">Phone No</th>
                                        <th style="min-width: 200px;">Email</th>
                                        <th style="min-width: 200px;">Qualification</th>
                                        <th style="min-width: 200px;">Specialization</th>
                                        <th style="min-width: 100px;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var doc in Model)
                                    {
                                        <tr>
                                            <td>@doc.Name</td>
                                            <td>@doc.Phone</td>
                                            <td>@doc.Email</td>
                                            <td>@doc.Qualification</td>
                                            <td>@doc.Specialization</td>
                                            <td>
                                                <div class="action">
                                                    <a asp-action="DoctorEdit" asp-controller="Doctor" asp-route-id="@doc.DoctorID" class="text-dark">
                                                        <i class="lni lni-pencil"></i>
                                                    </a>
                                                    <a asp-action="DoctorDelete" asp-controller="Doctor" asp-route-id="@doc.DoctorID" class="ms-2 text-danger">
                                                        <i class="lni lni-trash-can"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
